// Fonts
@font-face {
   	font-family: 'ProximaNovaRegular';
     src: url('../../fonts/ProximaNova-Regular.otf') format('opentype');

     font-weight: normal;
     font-style: normal;
 }

// Includes
	@import 'resources/colors';

// Vars
$maincolor: $midnight_blue;
// General
body{
	color: white;
	background-color: $maincolor;

	font-family: 'ProximaNovaRegular', 'Open Sans', 'Arial', sans-serif;
}


// Top Section
.button{
	height: 64px;
	width: 64px;

	border: none;

	background-color: $maincolor;

	i{
		margin-left: 20%;
		margin-top: 12%;
	}
}

.top{

	text-align: center;
	margin-top: 200px;
	
	.header{
		font-size: 4em;
		font-weight: 100;
		
		margin-bottom: 20px;

		transition: 1s;
		&:hover{
			letter-spacing: 5px;
		}
		span{
			color: $belize_hole;
			font-weight: 300; 		
		}
	}

	h4{
		margin-top: 0;
	}
}

// Buttons
.buttons{
	margin-top: 100px;
	text-align: center;
	transition: 1s;



	.button{
		text-align: center;
	
		background-color: $maincolor;
		border-radius: 5px;
		border: 1px solid white;

		height: 100px;
		width: 100px;

		display: inline;

		padding: 10px;

		transition: 0.5s;

		a{
			text-decoration: none;

			&:visited{
				color: inherit;
			}

		}

		&:hover{
			background-color: white;
			color: $maincolor;

			cursor: pointer;
		}
	}

}

